h1 {
  border: 3px solid brown;
  /* padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right: 40px; */

  /* 20 px top left bottom right */
  /* padding: 20px;   */

  /* 20 px top and bottom 40 px left and right */
  /* padding: 20px 40px; */

  /* clock wise direction */
  /* padding: 20px 30px 40px 50px; */

  padding: 10px;

  /* margin-left: 100px;
  margin-top: 50px; */

  /* margin: 50px; */

  /* margin: 40px 80px;
  margin: 10px 20px 30px 40px; */
  width: 500px;

  /* to bring in center */
  margin: 20px auto;
  /* text-align: center; */
  background: lightblue;
}
