body {
  font-family: Arial, Helvetica, sans-serif;
}

.box-wrapper {
  border: 10px solid #222222;
  display: flex;
  max-width: 1200px;
}

.box {
  border: 1px solid #666666;
  /* width: 600px; */
  /* flex-shrink: 1; */
}

.box-1 {
  background: lightblue;
  flex: 1 2 400px;
  /* flex: 1;   flex-grow
  flex: 200px; flex-basis
  flex: 1 2;   flex-grow flex-shrink */
  /* flex-shrink: 1; */
}

.box-2 {
  background: lightcoral;
  flex: 1 2 500px;

  /* flex-shrink: 2; */
}

.box-3 {
  background: lightgray;
  flex: 1 2 600px;

  /* flex-shrink: 3; */
}

.box-4 {
  background: lightsalmon;
}

.box-2 {
  background: lightslategray;
}
