a {
  /* border: 2px solid black;
  margin: 10px;
  padding: 50px;
  height: 100px;
  width: 100px; */

  /* only reflect on left and right*/
  /* overlap issue*/
  /* height and width will not reflect */

  display: inline-block;

  /* inable-block - we can apply all css propert and element will not also start from next line */
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 150px;
  height: 200px;
}
