input[type="text"] {
  color: red;
  background-color: aqua;
}

input[type="password"] {
  background-color: pink;
}

/* a[href="https://google.co.in"]
{
  color: red;
} */

/* href containing google */
/* a[href*="google"] {
  color: red;
} */

/* href starting from https */
/* a[href^="https"] {
  color: red;
} */

/* ending with .com */
a[href$=".com"] {
  color: green;
}
